# NauStud.io Editor Config https://github.com/naustudio/dotfiles
# More info: editorconfig.org

root = true

[*]

indent_style = tab

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,md}]
indent_style = space
indent_size = 2

