<div class="container">

	<h1>{{ title }}</h1>
	<p>Welcome to #{{title}}</p>


	<div class="content">
		<form class="ui form content-inner" action="/payment/checkout" method="POST" autocomplete>
			<div class="main">

				<div class="field">
					<label>Autofill</label>
					<div class="field">
						<input type="checkbox" class="autofill-checkbox">
					</div>
				</div>

				<div class="field">
					<label>Name</label>
					<div class="two fields">
						<div class="field">
							<input type="text" name="firstname" placeholder="First Name">
						</div>
						<div class="field">
							<input type="text" name="lastname" placeholder="Last Name">
						</div>
					</div>
				</div>
				<div class="field">
					<label>Billing Address</label>
					<div class="field">
						<input type="text" name="address" placeholder="Street Address">
					</div>
				</div>
				<div class="field">
					<label>District</label>
					<div class="field">
						<input type="text" name="district" placeholder="District">
					</div>
				</div>
				<div class="field">
					<label>Ward</label>
					<div class="field">
						<input type="text" name="ward" placeholder="Ward">
					</div>
				</div>
				<div class="field">
					<label>Country</label>
					<div class="field">
						<input type="text" name="city" placeholder="City">
					</div>
				</div>

				<input type="submit" class="ui large teal submit button secondary" value="Checkout">
			</div>

			<div class="sidebar">

				<div class="cart__item">
					<span class="cart__item__thumb">
						<div class="cart__item__image-wrapper">
							<span class="cart__item__quantity">
								1
							</span>
							<img src="./img/adidas-boost.jpeg" alt="">
						</div>
						<h5 class="cart__item__title">Adidas boost</h5>
					</span>
				</div>

				<div class="field">
					<label for="email-input">Email</label>
					<div class="ui left icon input">
						<i class="mail icon"></i>
						<input id="email-input" type="text" name="email" placeholder="Email address">
					</div>
				</div>

				<div class="field">
					<label for="phone-input">Phone Number</label>
					<div class="ui left icon input">
						<i class="phone icon"></i>
						<input id="phone-input" type="text" name="phoneNumber" placeholder="Phone number">
					</div>
				</div>

				<div class="field">
					<label for="amout-input">Total amount</label>
					<div class="ui left icon input">
						<i class="dollar icon"></i>
						<input id="amount-input" type="text" name="amount" placeholder="Amount to pay in VNÄ" data-allow-decimal-padding="false">
					</div>
				</div>

				<div class="grouped fields">
					<label for="fruit">Select payment method:</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" name="paymentMethod" checked="" tabindex="0" class="hidden" value="onepayDomestic">
							<label>Onepay Domestic</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" name="paymentMethod" tabindex="0" class="hidden" value="onepayInternational">
							<label>Onepay International
								<i class="mastercard icon"></i>
								<i class="visa icon"></i>
							</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" name="paymentMethod" tabindex="0" class="hidden" value="sohapay">
							<label>SohaPay</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" name="paymentMethod" tabindex="0" class="hidden" value="vnPay">
							<label>VnPay</label>
						</div>
					</div>
				</div>

				<div class="ui error message"></div>
			</div>
		</form>
	</div>
</div>
